
<div class="container">

  <h1> These Are All The Products At Super Mario's Speciality Food Shop! </h1>

  <div class="row">
    <div class="col-md-6">
      <table>
        <tr>
          <th>Product Name</th>
          <th>Cost</th>
          <th>Country of Origin</th>
        </tr>
        <% @products.each do |product| %>
        <tr>
          <td> <%= link_to product.name, product_path(product) %> </td>
          <td>$ <%= product.cost %> </td>
          <td> <%= product.country %> </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-6">
      <div class="button">
        <%= link_to "Enter A New Product", new_product_path %>
      </div>
      <br>
      <%= form_tag("products/search", method: "get") do %>
        <%= label_tag(:q, "Search By Country:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>


</div>
