<br>
<%= link_to "Return To Product List", products_path %>

  <h1> <%= @product.name %> </h1>
  <h3><%= @product.country %> </h3>
  <h4>$ <%= @product.cost %> </h4>


<%= link_to "Edit", edit_product_path(@product) %>
<br>
<%= link_to "Delete", product_path(@product), data: {
  confirm: "Are you sure?",
  method: "delete"} %>
